@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>People and Emails</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to People and Emails</h2>
        <p>
            People and emails is a my application that
            demonstrates how to use Entity Framework 6 in an
            ASP.NET MVC 5 web application.
        </p>
    </div>
</div>